# Node modules
health-food-api/node_modules/
health-food-client/node_modules/

# Builds
health-food-client/dist/
health-food-api/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor folders
.vscode/
.idea/

# Environment files
.env
.env.local
